<div class="wrapper">
  <div id="question"></div>
  <div class="header">
    <div class="left">
      <span>編輯器</span>
    </div>
  </div>
  <div id="editor">
def plus(x, y)      

end
  </div>
  <div id="result">
    <div id="body"></div>
  </div>
  <button class="send btn btn-primary pull-right" id="send">送出</button>
</div>
